<div class="container marketing">
  <div class="row">
    <div class="text-center col">
    </div>
  </div>
  <div class="row justify-center">
    <div class="col">
      <h2 class="featurette-heading fw-normal lh-1">Pride of Mount Pisgah</h2>
      <p>1 Then Moses climbed Mount Nebo from the plains of Moab to the top of <strong>Pisgah</strong>, across from Jericho. There the Lord showed him the whole land—from Gilead to Dan,</p> 
      <p>2 all of Naphtali, the territory of Ephraim and Manasseh, all the land of Judah as far as the Mediterranean Sea,</p>
      <p>3 the Negev and the whole region from the Valley of Jericho, the City of Palms, as far as Zoar.</p>
      <p>4 Then the Lord said to him, “This is the land I promised on oath to Abraham, Isaac and Jacob when I said, ‘I will give it to your descendants.’ I have let you see it with your eyes, but you will not cross over into it.”</p>
      <p>Deutoronomy 34:1-4</p>
    </div>
  </div>
</div>