<div class="h-viewport">
  <body class="full-screen-bg text-center">
    <div class="container-sm d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto"></header>

      <main class="px-3">
        <h1 class="fs-lg-72">Pride of Mt Pisgah</h1>
        <p class="lead fs-lg-50">Well done is better than well said.</p>
        <p class="lead">
          <app-button text="Learn More" [buttonLargeWhite]="true" [parentFunction]="routeToView.bind(this, '/aboutUs')"></app-button>
        </p>
      </main>

      <footer class="mt-auto text-white-50">
        <p>Most Worshipful Prince Hall Grand Lodge of Texas <a href="https://mwphglotx.org/" class="text-white">Grand Lodge</a></p>
      </footer>
    </div>
  </body>
</div>